html, footer {
  background-color: #fee; }
h1, h2 {
  font-family: 'Knewave', courier; }
p, div {
  font-family: courier; }
a {
  color: inherit }
  a:hover {
    color: inherit; }


/*********************************************************
 * Cover
********************************************************** */
.cover h1 {
  padding: 6% 3%;
  text-align: center;
  color: #222;
  font-size: 8rem; }

/*********************************************************
 * About
 ********************************************************* */
.about {
  font-size: 3rem;
  background-color: #222; }
  .about a {
    color: #bf5700; }
  .about a:hover {
    color: #ab4e00; }
  .about p {
    color: #fee;
    text-align: center;
    padding: 6% 3%; }

/*********************************************************
 * Using
 ********************************************************* */
.using {
  background-color: orange;
  text-align: center;
  padding: 6% 3%; }
  .using h2 {
/*     font-size: 3rem; */
     }
  .using p {
    display: table;
    margin: 3% auto;
    padding: 3%;
    font-size: 2rem;
    border-radius: 20px; }
    .using a:hover {
      color: #fee; }

/*********************************************************
 * Projects
 ********************************************************* */
.projects {
  padding: 6% 3%;
  background-color: #c43b3b; }
  .projects h2 {
    text-align: center;
    background-color: #c43b3b;}
/*     font-size: 3rem; } */
  #aside {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 6%; }
  .projects a {
    padding-top: 6rem; }
    .projects a:hover {
      color: #fee; }
  .proj {
    font-size: 2rem; }
  .proj-desc {
    padding-left: 5rem; }

/*********************************************************
 * Resume-link
 ********************************************************* */
.resume {
  font-family: 'Knewave';
  padding: 6% 3%;
  text-align: center;
  background-color: #1EAEDB;
  font-size: 3rem; }
  .resume a {
    color: #222; }
    .resume a:hover {
      color: #fee; }

/*********************************************************
 * Blog-link
 ********************************************************* */
/* COMING SOON
.blog {
  background-color: #eee;
  color: #f00;
  text-align: center;
  padding-top: 2rem; }
*/

/*********************************************************
 * Contact
 ********************************************************* */
.contact {
  padding: 6% 3%;
  font-family: courier;
  background-color: #222;
  text-align: center; }
  .contact h2 {
/*     font-size: 3rem !important;; */
    color: #fee;
    text-align: center; }
  .contact form {
    padding-top: 6%; }
  .contact input, textarea {
    background-color: #222;
    color: #fee;
    width: 80%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fee; }
  textarea {
    height: 15em;
    resize: vertical; }

/*********************************************************
 * Button
 ********************************************************* */
input[type="submit"].button-primary {
  width: 30%;
  background-color: #fee;
  border-color: #fee;
  color: #222; }
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus {
  background-color: #edd;
  border-color: #edd;
  color: #333; }

/*********************************************************
 * Footer
 ********************************************************* */
footer {
  padding: 5% 5% 0 5%; }
  footer p {
    position: relative;
    color: #222;
    font-size: 1rem; }
  footer strong {
    color: #f00; }


/* Larger than mobile
 ********************************************************** */
@media (min-width: 400px) {
  
}


/* Larger than phablet
 ********************************************************** */
@media (min-width: 550px) {
  h2 {
    font-size: 4rem;
  }
  /* Cover
   ***************************** */
  .cover h1 {
    font-size: 10rem; }
  
  /* About
   ****************************** */
  .about p {
    font-size: 4rem; }

  /* Projects
  ****************************** */
    #aside {
      font-size: 1.8rem; }
    .projects p a {
      font-size: 3rem; }
      
  /* Resume
  ****************************** */
  .resume {
    font-size: 4rem;
}


/* Larger than tablet
 ********************************************************** */
@media (min-width: 750px) {
  h2 {
    font-size: 5rem;
  }
  /* Cover
   ***************************** */
  .cover h1 {
    font-size: 12rem; }
  
  /* About
   ****************************** */
  .about p {
    font-size: 5rem; }

  /* Projects
  ****************************** */
    #aside {
      font-size: 2.2rem; }
    .projects p a {
      font-size: 3.5rem; }
      
  /* Resume
  ****************************** */
  .resume {
    font-size: 5rem;
}


/* Larger than desktop
 ********************************************************** */
@media (min-width: 1000px) {
  h2 {
    font-size: 6rem; }

  /* Cover
   ***************************** */
  .cover h1 {
    font-size: 15rem; }
  
  /* About
   ****************************** */
  .about p {
    font-size: 6rem; }

  /* Using
  ****************************** */
    .using p {
      font-size: 4rem; }

  /* Projects
  ****************************** */
    .proj {
      font-size: 4rem; }

  /* Resume
  ****************************** */
  .resume {
    font-size: 6rem;
}
